* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #181818;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    color: #C2C2C2;
}

h1 {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    text-align: center;
    align-items: center;
}

input {
    margin-top: 10px;

    background-color: #C2C2C2;
    border: solid 2 #B19871;
    border-radius: 5px;
}

button {
    margin-top: 10px;

    background-color: #B19871;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: #C2C2C2;
    font-weight: 500;
}